<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>
        <%- include('partials/header.ejs') %>
            <h1>HOME</h1>
            <h2>
                abc
            </h2>

    </body>

</html>