<head>
    <link rel="icon" type="image/png" href="https://download.flaticon.com/download/icon/500719?icon_id=500719&author=1&team=1&keyword=Express+mail&pack=500697&style=Flat&style_id=6&format=png&color=&colored=2&size=24&selection=1&premium=0&type=standard&search=express">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <title>
        <%= title %>

    </title>
</head>